@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: 0.02em;
}

body {
    @apply min-h-screen flex justify-center bg-neutral-950 text-white;
}

.hold-to-delete-md {
    @apply duration-[1500ms] ease-linear w-full bg-rose-500;
}

.hold-to-delete-mu {
    @apply duration-[300ms] ease-in w-0 bg-rose-500/10;
}
